@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bgDark text-textPrimary font-sans antialiased selection:bg-textPrimary selection:text-bgDark;
    font-size: 18px;
    line-height: 1.6;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
